.venv
vecfusion
output/
outputs/
*.md
*.txt
*finetuned*pth
*.png
image_cache/
/models/
*.egg-info
*.swp
.vscode
cache/
logs/
*.pyc
foo.py
build/
uv.lock
*.csv
*.html
*.ttf
*.tar.gz
*.pt
venv/
__pycache__
.pytest_cache/
ruff_cache/
